<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/pjfernandes/consilium-data"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    <strong>Consilium Data</strong> <i class="far fa-registered"></i>
  </div>
</div>
