<div class="home-content text-center mt-2">

  <div class="logo-image">
    <img heigth="1" src="/assets/logo.png">
  </div>

  <div class='slogan'>
    <h2>Revealing trends</h2>
  </div>

  <div class="description mt-2 mr-5 ml-5 mb-5">
    <p>Coming from Latin, the expression Consilium Data can be understood as "the Data Policy".</p>
    <p>Such nomenclature does not occur by chance, as if the Policy can be understood as
    the exercise of power to resolve conflicts of interest.</p>
    <p>Our main objective is to fight the asymmetry that exists between those who dominate Data Science and those who are dominated by it.</p>
    <p>Are you ready?</p>
  </div>

   <div class='slogan mt-5'>
    <h4><i class="fas fa-chart-line"></i> Vision</h4>
    <div class="description mt-2 mr-5 ml-5 mb-4 text-white">
      <p>The variety of available data is growing at high rates,
      in a movement that will dictate the direction of the next challenges that humanity will face.</p>
      <p>In order to remain competitive and prosperous, individuals and organizations increasingly need the right tools to navigate this complex landscape.</p>
      Taking powerful analyzes to the most diverse areas and taking control of all possible results to be obtained,
      we hope to contribute to the identification of the hidden patterns and trends that dictate the rules of the world around us, contributing to the high-level training of all those interested in mastering the Data Policy.</p>
     </div>
  </div>

</div>
