<div class="home-content text-center mt-2">

  <div class="logo-image">
    <%# <img heigth="1" src="/assets/logo.png"> %>
    <%= image_tag "logo.png"%>
  </div>

  <div class='slogan'>
    <%# <h2>Revealing trends</h2> %>
    <h2><span id="banner-typed-text"></span></h2>
  </div>


  <div class="first-banner mt-2 mr-5 ml-5 mb-4">
    <p>Coming from Latin, the expression <strong class="text-danger">Consilium Data</strong> can be understood as <strong class="text-danger">the Data Policy</strong>.
    Such name does not occur by chance, as the Policy can be understood as
    the exercise of power to resolve conflicts of interest.</p>
    <p>Our main objective is to fight the asymmetry that exists between those who dominate <strong class="text-danger">Data Science</strong> and those who are dominated by it.</p>

    <button onclick="togglePlay()" class="btn btn-danger text bg-black" type="button"><i class="audio fas fa-play"></i></button>

    <%= audio_tag "sample.mp3", id: "audio" %>

    <script>
      var audioButton = document.getElementsByClassName('audio')[0];
      var myAudio = document.getElementById("audio");
      var isPlaying = false;


      function togglePlay() {
        if (isPlaying) {
          audioButton.className =  "audio fas fa-play";
          myAudio.pause()
        } else {
          myAudio.play();
          audioButton.className =  "audio fas fa-pause";

        }
      };

      myAudio.onplaying = function() {
        isPlaying = true;
      };

      myAudio.onpause = function() {
        isPlaying = false;
      };

    </script>
  </div>

   <div class="banner mt-5" style="background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(https://media.istockphoto.com/photos/cyberspace-with-digital-lines-binary-hanging-chain-picture-id583960308?b=1&k=20&m=583960308&s=170667a&w=0&h=RezvK4R2kechrJrk5XfXndDXUVmqmhlDB87P04aqS_U=);">
    <div class="container">
    <h2><i class="fas fa-eye text-danger"></i> Vision</h2>
    <div class="description mt-2 mr-5 ml-5 mb-4 text-white">
      <p>The variety of available data is growing at high rates,
      in a movement that will dictate the direction of the next challenges that humanity will face.
      In order to remain prosperous, individuals and organizations need the right tools to navigate this complex landscape.</p>
     </div>
     <a class="btn btn-danger" href="posts">Articles</a>
    </div>
  </div>


</div>
