@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: black;
  color: red;
  border-bottom: 2px solid rgb(147, 23, 23);

}
.consilium {
  color: white;
  font-family: 'Prompt', sans-serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: red;
}
